.jumbotron {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.panel-default>.panel-heading {
  background-color: #02034b;
  color: white;
}



.glyphicon {
  color: white;
}
